/* ---------- BASE STYLES ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.842);
    padding-bottom: 120px;
}

/* -------- HEADER -------- */
header {
    background-image: url(Images/BannerBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: auto;
}

/* Main Nav */
header .top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
}

header .top .left {
    display: flex;
    height: 20%;
    align-items: center;
    gap: 10px;
}

header .top .left .menu-btn {
    display: none;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header .top .left .menu-btn i, .close-btn i {
    font-size: 1.8rem;
}

header .top .left img {
    margin-right: 20px;
}

header .top a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px;
}

header .top .right {
    display: flex;
    align-items: center;
    height: 20%;
    gap: 30px;
}
header .top .right form {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 0;
    height: auto;
}

header .top .right input {
    font-size: 0.9rem;
    border-radius: 10px;
    border: none;
    padding-left: 5px;
}

header .top .right input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

header .top .right button {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

header .top .right button:hover {
    background-color: rgba(0, 0, 0, 0.199);
}

header .top .right a {
    padding: 0;
}

header .top a:hover {
    color: #FFD500;
}

/* Sidebar */
header .sideBar {
    background-color: black;
    display: none;
    flex-direction: column;
    position: fixed;
    width: 200px;
    height: 100%;
    box-shadow: 2px 0 rgba(151, 148, 148, 0.315);
    padding: 50px 10px;
    z-index: 999;
}

header .sideBar .close-btn {
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-bottom: 20px;
}

header .sideBar .close-btn i{
    color: #FFFFFF;
}

header .sideBar a {
    font-size: 1.1rem;
    padding: 15px 5px;
    color: #FFFFFF;
    text-decoration: none;
}

header .sideBar a:hover {
    background-color: rgba(155, 155, 155, 0.836);
}

header .sideBar .close-btn:hover {
    background-color: rgba(155, 155, 155, 0.836);
}


/* Bottom Part */
header .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-left: 16%;
    margin-right: 16%;
}

header .bottom h1 {
    font-size: 5rem;
}

header .bottom {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.8s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ----------------- Responsiveness -----------------*/
@media (max-width: 1140px) {
    header .top {
        justify-content: space-around;
    }

    header .top .left img {
        width: 100px;
        height: 60px;
        margin-right: 0;
    }

    header .top a {
        font-size: 1rem;
    }

    header .top .searchBar input {
        font-size: 0.7rem;
    }

    header .top .right button i {
        font-size: 1rem;
    }

}

@media (max-width: 1000px) {
    header .top {
        justify-content: space-around;
    }

    header .top .left img {
        width: 80px;
        height: 50px;
        margin-right: 0;
    }

    header .top a {
        font-size: 0.8rem;
    }

    header .top .searchBar input {
        font-size: 0.7rem;
    }

    header .top .right button i {
        font-size: 1rem;
    }

}

@media (max-width: 905px) {
    header .top {
        justify-content: space-around;
    }

    header .top .left .menu-btn {
        display: block;
    }

    header .top .left a:not(:first-of-type) {
        display: none;
    }

    header .bottom {
        justify-content: center;
        flex-direction: column;
    }

    header .bottom h1 {
        font-size: 2.5rem;
    }

    header .bottom img {
        width: 300px;
    }

}