/* ---------- BASE STYLES ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.842);
    padding-bottom: 120px;
}

/* -------- HEADER -------- */
header {
    background-image: url(Images/BannerBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: auto;
    padding-bottom: 30px;
}

/* Main Nav */
header .top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
}

header .top .left {
    display: flex;
    height: 20%;
    align-items: center;
    gap: 10px;
}

header .top .left .menu-btn {
    display: none;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header .top .left .menu-btn i, .close-btn i {
    font-size: 1.8rem;
}

header .top .left img {
    margin-right: 20px;
}

header .top a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px;
}

header .top .right {
    display: flex;
    align-items: center;
    height: 20%;
    gap: 30px;
}

header .top .right a {
    padding: 0;
}

header .top a:hover {
    color: #FFD500;
}

/* Sidebar */
header .sideBar {
    background-color: black;
    display: none;
    flex-direction: column;
    position: fixed;
    width: 200px;
    height: 100%;
    box-shadow: 2px 0 rgba(151, 148, 148, 0.315);
    padding: 50px 10px;
    z-index: 999;
}

header .sideBar .close-btn {
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-bottom: 20px;
}

header .sideBar .close-btn i{
    color: #FFFFFF;
}

header .sideBar a {
    font-size: 1.1rem;
    padding: 15px 5px;
    color: #FFFFFF;
    text-decoration: none;
}

header .sideBar a:hover {
    background-color: rgba(155, 155, 155, 0.836);
}

header .sideBar .close-btn:hover {
    background-color: rgba(155, 155, 155, 0.836);
}


/* Bottom Part */
header .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin: 0 18%;
}

header .bottom h1 {
    font-size: 5rem;
}

header .bottom img {
    width: 400px;
}

header .bottom {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.8s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* -------- MAIN -------- */
.homeMain {
    margin-top: 10px;
}

.homeMain .slides {
    max-height: 900px;
    display: flex;
    anchor-name: --slideshow;
}

.homeMain .slides .slide{
    width: 100%;
}

.homeMain .slides img {
    display: none;
}

.homeMain .slides img.active {
    display: block;
}

.homeMain .slideshow button {
    color: #FFFFFF;
    font-size: 2.5rem;
    padding: 15px 30px;
    border-radius: 5px;
    position: fixed;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.247);
    border: none;
    position-anchor: --slideshow;
}

.homeMain .slideshow .next:hover {
    background: linear-gradient(90deg, rgba(218, 218, 218, 0.719), rgba(128, 128, 128, 0.651));
}

.homeMain .slideshow .prev:hover {
    background: linear-gradient(-90deg, rgba(218, 218, 218, 0.719), rgba(128, 128, 128, 0.651));
}

.homeMain .slideshow .prev {
    position-area: left center;
    translate: 140%;
}

.homeMain .slideshow .next {
    position-area: right center;
    translate: -140%;
}


/* Products Pages */
.productsMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 40px;
}

/* Sort and Search*/
.productsMain .SandS {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.productsMain .SandS label {
    font-size: 1.3rem;
    color: #FFFFFF;
    padding: 10px;
    margin-right: 15px;
}

.productsMain .SandS #sort {
    background: transparent;
    font-size: 1rem;
    padding: 8px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
}

.productsMain .SandS option {
    background-color: black;
}

.productsMain .SandS .searchBar {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 0;
    height: auto;
}

.productsMain .SandS input {
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    padding-left: 5px;
}

.productsMain .SandS  input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.productsMain .SandS button {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

.productsMain .SandS button:hover {
    background-color: rgba(0, 0, 0, 0.199);
}

/* Products Area */
.productsMain .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    padding: 0 20px;
    gap: 20px;
    width: 100%;
    max-width: 1370px;
}

.productsMain .products div {
    background-color: #222;
    border: 2px solid #00000052;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    padding: 25px;
    transition: transform 0.2s ease;
}

.productsMain .products div:hover {
    transform: scale(1.05);
    border: 2px solid rgba(230, 18, 18, 0.918);
}

.productsMain .products img {
    margin-bottom: 30px;
    width: 100%;
    object-fit: contain;
}

.productsMain .products h2 {
    margin-bottom: 30px;
    color: #FFFFFF;
}

.productsMain .products button {
    margin: 3px 0;
    padding: 10px 0px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: rgba(219, 29, 29, 0.733);
    border: 2px solid black;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}

.productsMain .products div:hover .check{
    opacity: 1;
    display: block;
}


/* ----------------- Responsiveness -----------------*/
@media (max-width: 1140px) {
    /* ---------- Header ---------- */
    header .top {
        justify-content: space-around;
    }

    header .top .left img {
        width: 100px;
        height: 60px;
        margin-right: 0;
    }

    header .top a {
        font-size: 1rem;
    }

    header .bottom h1 {
        font-size: 2.1rem;
    }

    header .bottom img {
        width: 250px;
    }
}

@media (max-width: 1000px) {
    /* ---------- Header ---------- */
    header .top {
        justify-content: space-around;
    }

    header .top .left img {
        width: 80px;
        height: 50px;
        margin-right: 0;
    }

    header .top a {
        font-size: 0.8rem;
    }

    header .bottom h1 {
        font-size: 2rem;
    }

    header .bottom img {
        width: 200px;
    }

}

@media (max-width: 905px) {
    /* ---------- Header ---------- */
    header .top {
        justify-content: space-around;
    }

    header .top a {
        font-size: 1.1rem;
    }

    header .top .left .menu-btn {
        display: block;
    }

    header .top .left a:not(:first-of-type) {
        display: none;
    }

    header .bottom {
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    header .bottom h1 {
        font-size: 2.5rem;
    }

    header .bottom img {
        width: 300px;
    }

    /* ---------- Main ---------- */
    .homeMain .slideshow .prev, .homeMain .slideshow .next {
        font-size: 1rem;
    }

    /* Products Pages */
    /* Sort and Search */
    .productsMain .SandS {
        width: 90%;
    }

    .productsMain .SandS label {
        font-size: 0.8rem;
        margin: 1px;
        padding: 2px;
    }

    .productsMain .SandS #sort {
        font-size: 0.7rem;
    }

    .productsMain .SandS input {
        font-size: 0.7rem;
        width: 100%;
    }

    .productsMain .SandS button {
        padding: 0;
    }


    /* Products Area*/
    .productsMain .products {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 400px) {
    /* ---------- Header ---------- */
    header .top {
        justify-content: space-around;
    }

    header .top a {
        font-size: 0.8rem;
    }

    header .bottom {
        justify-content: center;
        flex-direction: column;
    }

    header .bottom h1 {
        font-size: 1.5rem;
    }

    header .bottom img {
        width: 200px;
    }


    /* ---------- Main ---------- */
    .homeMain .slideshow button {
        display: none;
    }

    /* Products Pages */
    .productsMain .SandS label {
        font-size: 0.6rem;
        padding: 1px;
        margin-right: 2px;
    }

    .productsMain .SandS #sort {
        font-size: 0.5rem;
    }

    .productsMain .SandS input {
        font-size: 0.5rem;
        width: 100%;
    }

    .productsMain .SandS button i {
        font-size: 0.9rem;
    }
}