/* ---------- BASE STYLES ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.842);
}

/* ------------ HEADER ----------- */
header {
    background-image: url(Images/BannerBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: auto;
    padding-bottom: 30px;
}

/* Main Nav */
header .top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
}

header .top .left {
    display: flex;
    height: 20%;
    align-items: center;
    gap: 10px;
}

header .top .left .menu-btn {
    display: none;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header .top .left .menu-btn i, .close-btn i {
    font-size: 1.8rem;
}

header .top .left img {
    margin-right: 20px;
}

header .top a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px;
}

header .top .right {
    display: flex;
    align-items: center;
    height: 20%;
    gap: 30px;
}

header .top .right a {
    padding: 0;
}

header .top a:hover {
    color: #FFD500;
}

/* Sidebar */
header .sideBar {
    background-color: black;
    display: none;
    flex-direction: column;
    position: fixed;
    width: 200px;
    height: 100%;
    box-shadow: 2px 0 rgba(151, 148, 148, 0.315);
    padding: 50px 10px;
    z-index: 999;
}

header .sideBar .close-btn {
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-bottom: 20px;
}

header .sideBar .close-btn i{
    color: #FFFFFF;
}

header .sideBar a {
    font-size: 1.1rem;
    padding: 15px 5px;
    color: #FFFFFF;
    text-decoration: none;
}

header .sideBar a:hover {
    background-color: rgba(155, 155, 155, 0.836);
}

header .sideBar .close-btn:hover {
    background-color: rgba(155, 155, 155, 0.836);
}


/* Bottom Part */
header .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin: 0 18%;
}

header .bottom h1 {
    font-size: 5rem;
}

header .bottom img {
    width: 400px;
}

header .bottom {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.8s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ----------- MAIN ----------- */
.homeMain {
    margin-top: 10px;
}

.homeMain .slides {
    max-height: 900px;
    display: flex;
    anchor-name: --slideshow;
}

.homeMain .slides .slide{
    width: 100%;
}

.homeMain .slides img {
    display: none;
}

.homeMain .slides img.active {
    display: block;
}

.homeMain .slideshow button {
    color: #FFFFFF;
    font-size: 2.5rem;
    padding: 15px 30px;
    border-radius: 5px;
    position: fixed;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.247);
    border: none;
    position-anchor: --slideshow;
}

.homeMain .slideshow .next:hover {
    background: linear-gradient(90deg, rgba(218, 218, 218, 0.719), rgba(128, 128, 128, 0.651));
}

.homeMain .slideshow .prev:hover {
    background: linear-gradient(-90deg, rgba(218, 218, 218, 0.719), rgba(128, 128, 128, 0.651));
}

.homeMain .slideshow .prev {
    position-area: left center;
    translate: 140%;
}

.homeMain .slideshow .next {
    position-area: right center;
    translate: -140%;
}


/* Products Pages */
.productsMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 40px;
}

/* Sort and Search*/
.productsMain .SandS {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.productsMain .SandS label {
    font-size: 1.3rem;
    color: #FFFFFF;
    padding: 10px;
    margin-right: 15px;
}

.productsMain .SandS #sort {
    background: transparent;
    font-size: 1rem;
    padding: 8px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
}

.productsMain .SandS option {
    background-color: black;
}

.productsMain .SandS .searchBar {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 0;
    height: auto;
}

.productsMain .SandS input {
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    padding-left: 5px;
}

.productsMain .SandS  input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.productsMain .SandS button {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

.productsMain .SandS button:hover {
    background-color: rgba(0, 0, 0, 0.199);
}

/* Products Area */
.productsMain .products {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    padding: 0 20px;
    gap: 20px;
    width: 100%;
    max-width: 1370px;
}

.productsMain .active {
    display: grid;
}

.productsMain .products .prod {
    background-color: #222;
    border: 2px solid #00000052;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    padding: 25px;
    transition: transform 0.2s ease;
}

.productsMain .products .prod:hover {
    transform: scale(1.05);
    border: 2px solid rgba(230, 18, 18, 0.918);
}

.productsMain .products img {
    margin-bottom: 30px;
    width: 100%;
    object-fit: contain;
}

.productsMain .products .productName {
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.productsMain .products .productPrice {
    font-size: 1.1rem;
    color: rgb(212, 46, 46);
    margin-bottom: 30px;
}

.productsMain .products button {
    margin: 5px 0;
    padding: 10px 0px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    opacity: 1;
    transition: opacity 0.5s;
}

.productsMain .products .addtoCart {
    background-color: #bea213;
}

.productsMain .products .check {
    background-color: rgba(219, 29, 29, 0.733);
}

.productsMain .products .addtoCart:hover {
    box-shadow: 0 0 3px #bea213, 0 0 15px #bea213, 0 0 20px #bea213;
    transform: translateY(-2px);
}

.productsMain .products .check:hover {
    box-shadow: 0 0 3px rgba(219, 29, 29, 0.733), 0 0 15px rgba(219, 29, 29, 0.733), 0 0 20px rgba(219, 29, 29, 0.733);
    transform: translateY(-2px);
}



/* Pagination Area */
.productsMain .pagination, .productsMain .pagination .pageButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.productsMain .pagination button {
    width: 35px;
    height: 35px;
    background-color: #4d4d4d;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.productsMain .pagination button:disabled {
    opacity: 0.3;
    cursor: default;
}

.productsMain .pagination .active {
    align-items: center;
    background-color: #222;
    border: 1px solid #FFD500;
}

.productsMain .pagination button:hover:enabled {
    background-color: #222;
}


/* ------------ FOOTER ----------- */
footer {
    margin-top: 50px;
    padding: 0px;
    background-color: #00000085;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    height: auto;
}

footer img {
    width: 150px;
    margin-top: 20px;
}

footer .socials {
    display: flex;
    gap: 15px;
}

footer svg {
    width: 20px;
    height: 20px;
}

footer .socials a {
    background-color: white;
    display: flex;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #bea213;
}

footer .socials a:hover {
    background-color: #bea213;
}

footer .about {
    display: flex;
    gap: 20px;
}

footer .about a {
    color: #FFFFFF;
    text-decoration: none;
}

footer .about a:hover {
    color: #bea213;
}

footer p {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #4d4d4d;
    padding: 5px;
}

/* ------------- CART WEBPAGE ------------- */
/* Cart */
.cartWeb {
    margin: 0;
    padding: 20px;
    display: flex;
}

.cartWeb button {
    font-size: 1.1rem;
    color: #FFFFFF;
    background: none;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 150px;
}

.cartWeb button:hover {
    color: #bea213;
}

.cartArea {
    display: flex;
    min-height: 95vh;
    gap: 15px;
}

.cartArea .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 5px;
    width: 80%;
}

.cartArea .cart h1 {
    font-size: 3rem;
    border-bottom: 2px solid gray;
}

.cartArea .cart .subtitles {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr 50px;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.cartArea .cart .subtitles h3 {
    border-bottom: 1px solid gray;
}

.cartArea .cart .products .prod {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr 50px;
    justify-items: center;
    align-items: center;
    border: 2px solid ;
    min-height: 117px;
    max-height: 117px;
}

.cartArea .cart .products .prod img {
    width: 150px;
}

.cartArea .cart .products .prod .productDetail {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 20px;
}

.cartArea .cart .products .prod .quantitybox {
    display: flex;
    align-items: center;
    width: 100px;
    height: 50px;
}

.cartArea .cart .products .prod .quantitybtn {
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
}

.cartArea .cart .products .prod .quantitybtn:hover {
    color: #bea213;
}

.cartArea .cart .products .prod .quantitybox input {
    width: 40px;
    text-align: center;
    border: 1px solid black;
    font-size: 1rem;
}

.cartArea .cart .products .prod button {
    color: #000000;
}

.cartArea .cart .products .prod button:hover {
    color: #bea213;
}

/* Payment */
.cartArea .payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 20%;
    height: 500px;
    padding: 20px;
}

.cartArea .payment .top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cartArea .payment .top h2 {
    font-size: 2rem;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
}

.cartArea .payment .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.cartArea .payment .bottom .total {
    font-size: 1.3rem;
    font-weight: bold;
}

.cartArea .payment .bottom .totalAmount {
    font-size: 1.3rem;
    color: #FFD500;
    font-weight: bold;
}

.cartArea .payment .bottom .checkout {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    color: #000000;
    background-color: #FFD500;
    border-radius: 10px;
}

.cartArea .payment .bottom .back {
    font-size: 1.2rem;
    cursor: pointer;
    color: #000000;
}

.cartArea .payment .bottom .back:hover {
    color: #bea213;
}

/* ----------------- Responsiveness -----------------*/
@media (max-width: 1140px) {
    /* ---------- Header ---------- */
    header .top {
        justify-content: space-around;
    }

    header .top .left img {
        width: 100px;
        height: 60px;
        margin-right: 0;
    }

    header .top a {
        font-size: 1rem;
    }

    header .bottom h1 {
        font-size: 2.1rem;
    }

    header .bottom img {
        width: 250px;
    }
}

@media (max-width: 1000px) {
    /* ---------- Header ---------- */
    header .top {
        justify-content: space-around;
    }

    header .top .left img {
        width: 80px;
        height: 50px;
        margin-right: 0;
    }

    header .top a {
        font-size: 0.8rem;
    }

    header .bottom h1 {
        font-size: 2rem;
    }

    header .bottom img {
        width: 200px;
    }

}

@media (max-width: 905px) {
    /* ---------- Header ---------- */
    header .top {
        justify-content: space-around;
    }

    header .top a {
        font-size: 1.1rem;
    }

    header .top .left .menu-btn {
        display: block;
    }

    header .top .left a:not(:first-of-type) {
        display: none;
    }

    header .bottom {
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    header .bottom h1 {
        font-size: 2.5rem;
    }

    header .bottom img {
        width: 300px;
    }

    /* ---------- Main ---------- */
    .homeMain .slideshow .prev, .homeMain .slideshow .next {
        font-size: 1rem;
    }

    /* Products Pages */
    /* Sort and Search */
    .productsMain .SandS {
        width: 90%;
    }

    .productsMain .SandS label {
        font-size: 0.8rem;
        margin: 1px;
        padding: 2px;
    }

    .productsMain .SandS #sort {
        font-size: 0.7rem;
    }

    .productsMain .SandS input {
        font-size: 0.7rem;
        width: 100%;
    }

    .productsMain .SandS button {
        padding: 0;
    }


    /* Products Area*/
    .productsMain .products {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 400px) {
    /* ---------- Header ---------- */
    header .top {
        justify-content: space-around;
    }

    header .top a {
        font-size: 0.8rem;
    }

    header .bottom {
        justify-content: center;
        flex-direction: column;
    }

    header .bottom h1 {
        font-size: 1.5rem;
    }

    header .bottom img {
        width: 200px;
    }


    /* ---------- Main ---------- */
    .homeMain .slideshow button {
        display: none;
    }

    /* Products Pages */
    .productsMain .SandS label {
        font-size: 0.6rem;
        padding: 1px;
        margin-right: 2px;
    }

    .productsMain .SandS #sort {
        font-size: 0.5rem;
    }

    .productsMain .SandS input {
        font-size: 0.5rem;
        width: 100%;
    }

    .productsMain .SandS button i {
        font-size: 0.9rem;
    }
}